@media only screen and (max-width: 760px) {
  .Account {
    font-size: 1em;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .Account {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .Account {
    font-size: 3em;
  }
}

.Account {
  height: 100%;
  overflow: auto;
  line-height: 2em;
}

.Account > .Account-banner {
  text-align: center;
  height: 25%;
  background: rgba(255, 255, 255, 0.2);
  display: table;
  width: 100%;
}

.Account > .Account-banner > .Account-banner-content {
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
}

.Account > .Account-banner > .Account-banner-content > .Account-customerName {
  display: block;
  font-size: 2em;
}

.Account > .Account-list {
  list-style-type: none;
  height: 75%;
  margin-top: 5%;
}

.Account > .Account-list > .Account-list-item {
  height: 12%;
}

.Account > .Account-list > .Account-list-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 5px;
  background: rgba(169, 169, 169, 0.5);
}

.Account > .Account-list > .Account-list-item a {
  padding-left: 7%;
}

.Account > .Account-list > .Account-list-item .right-arrow {
  margin-right: 10%;
}

.Account .right-arrow {
  float: right;
  margin-top: 0.75em;
}
