@media only screen and (max-width: 760px) {
  .Browse-title {
    font-size: 1.3em;
  }

  .Browse-card {
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .Browse-title {
    font-size: 3em;
  }

  .Browse-card {
    font-size: 1.5em;
  }

  .Browse-card-button {
    padding: 20px 30px !important;
    font-size: 25px !important;
    line-height: 1.333333 !important;
    border-radius: 6px !important;
  }
}

@media only screen and (min-width: 1000px) {
  .Browse-title {
    font-size: 4.5em;
  }

  .Browse-card {
    font-size: 3em;
  }

  .Browse-card-button {
    padding: 30px 48px !important;
    font-size: 25px !important;
    line-height: 1.333333 !important;
    border-radius: 6px !important;
  }
}

.Browse {
  height: 100%;
  padding: 0 4%;
  overflow: auto;
}

.Browse-title {
  padding: 7% 0;
}

.Browse-card {
  display: flex;
  padding-bottom: 6%;
  line-height: 1.2em;
  height: 25%;
}

.Browse-card-image {
  max-width: 100%;
  max-height: 100%;
}

.Browse-card-left {
  width: 30%;
  height: 100%;
}

.Browse-card-right {
  width: 70%;
  padding-left: 5%;
  height: 100%;
}

.Browse-card-right-top {
  padding-bottom: 5%;
  height: 50%;
}

.Browse-card-right-bottom {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.Browse-card-right-top,
.Browse-card-name,
.Browse-card-description {
  display: block;
}

.Browse-card-left,
.Browse-card-right,
.Browse-card-price,
.Browse-card-button {
  display: inline-block;
}

.Browse-card-price {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  align-content: flex-start;
}

.Browse-card-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  align-items: flex-end;
  align-content: flex-end;
}

.Browse-card-button {
  text-align: right;
}

.Browse-card-button,
.Browse-card-price {
  height: 100%;
}
