@media only screen and (max-width: 760px) {
  .Info {
    font-size: 1em;
  }
  .Info h2 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .Info {
    font-size: 2em;
  }
  .Info h2 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1000px) {
  .Info {
    font-size: 3em;
  }
  .Info h2 {
    font-size: 3.5em;
  }
}

.Info {
  padding: 5%;
  overflow: auto;
  line-height: 1.25em;
}

.Info h2,
.Info .Info-item-body {
  margin-bottom: 10%;
}

.Info .Info-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(169, 169, 169, 0.5);
  margin-top: 3.5%;
}

.Info .Info-item .Info-item-body .Info-item-body-left,
.Info .Info-item .Info-item-body .Info-item-body-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.Info .Info-item .Info-item-body .Info-item-body-right .Info-item-update {
  float: right;
}

.Info .Info-form {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.Info .Info-form * {
  margin-bottom: 10px;
}
