.Overlay {
  z-index: 2;
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.Overlay .Overlay-main {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Overlay .Overlay-close {
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%, 25%);
  left: 50%;
  position: fixed;
}

.Overlay .Overlay-content {
  padding-left: 15%;
  padding-top: 12%;
}

.Overlay .Overlay-content li {
  list-style-type: none;
}
