.Overlay {
  z-index: 2;
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
}

.Overlay .Overlay-main {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Overlay .Overlay-content {
  padding-left: 15%;
  padding-top: 5%;
}

.Overlay .Overlay-divider {
  margin: 0 !important;
  border: solid thin rgba(169, 169, 169, 0.5);
}

.Overlay .Overlay-controls {
  overflow-y: hidden;
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
}

.Overlay .Overlay-content li {
  list-style-type: none;
}
